
.container {
  .home {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .q-and-a {
      text-shadow: #000 1px 0 10px;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      opacity: 1;
      font-size: 28px;
      padding: 44px 88px;
      @media (max-width: 768px) {
        font-size: 18px;
      }
      .question {
        font-weight: 400;
        font-style: italic;
      }
      .answer {
        font-weight: 600;
      }
    }
    .blog-entry {
      text-align: center;
      margin-bottom: 64px;
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
      text-shadow: #000 1px 0 10px;
      font-size: 24px;
      font-style: italic;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
  .blog {
    min-height: 100vh;
    display: flex;
    scroll-snap-align: start;
  }
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}