.header {
  position: fixed;
  width: calc(100% - 48px);
  padding: 24px;
  top: 0;
  left: 0;
  z-index: 1;
  background: black;
  @media (max-width: 768px) {
    padding-bottom: 12px;
  }
  .home-link {
    grid-column: 1 / span 3;
    color: white;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-decoration: unset;
    text-align: center;
    @media (max-width: 768px) {
      grid-column: 1 /span 4;
      text-align: center;
      white-space: nowrap;
      border-bottom: solid white 1px;
      padding-bottom: 12px;
    }
  }
  .line {
    grid-column: 4 / span 5;
    height: 1px;
    background-color: white;
    margin: auto 0;
    @media (max-width: 1032px) {
      grid-column: 4 / span 2;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .link-container {
    grid-column: 9 / span 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: 1032px) {
      grid-column: 6 /span 7;
    }
    @media (max-width: 768px) {
      grid-column: 1 /span 4;
      justify-content: flex-start;
      margin-top: 24px;
      justify-content: center;
      column-gap: 24px;
    }
    .link {
      color: white;
      font-size: 28px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 600;
      text-decoration: unset;
      @media (max-width: 768px) {
        margin-right: 22px;
        font-size: 20px;
      }
      &.-active {
        text-decoration: underline;
        opacity: 0.8;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}