.loading {
  width: 100%;
  justify-content: center;
  display: flex;
}
.block-carousel {
  position: relative;
  @media (max-width: 768px) {
    margin: 0 20px;
  }
  .arrow {
    position: absolute;
    color: white;
    font-size: 40px;
    left: -30px;
    bottom: calc(50% + 30px);
    &.next {
      left: unset;
      right: -30px;
    }
  }
  .carousel-image {
    width: 100%;
  }
  .label {
    font-size: 12px;
  }
  .bubbles {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin: 24px 0;
    .bubble {
      outline: none;
      border: none;
      height: 12px;
      width: 12px;
      content: "";
      background: grey;
      border-radius: 50%;
      &.-active {
        background: lime;
      }
    }
  }
}